<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum two numbers</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
  </head>
  <body>
    <h1>Sum</h1>
    <% var c = isOdd ? 'red' : 'green' %>
    <% if(length === 2) { %>
    <h2 style="font-size:<%= fontSize %>;border:<%=bw%>px solid <%=color%>;"><%= x %> + <%= y %> = <span style="color:<%= c %>;"><%= x + y %></span></h2>
    <% }else{ %>
    <h2 style="font-size:<%= fontSize %>;border: <%= bw %>px solid <%= color %>;"><%= x %> + <%= y %> + <%= a %> + <%= b %> = <span style="color:<%= c %>;"><%= x + y + a + b %></span></h2>
    <% } %>
  </body>
</html>

